@import '../../styles/scss/variables.scss';


.welcomeBlurb {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.hiThere {
    display: flex;
    justify-content: center;
}

.briefBlurb {
    font-size: $font-size-h4;
    // width: 60%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    @include bp-tablet {
        font-size: $font-size-h3;
        max-width: 60%;
    }
}

.iconRow {
    padding-top: 2rem;
    margin: 0 auto;
    width: 60%;
}

