.header {
    width: 100%;
    // background-color: blue;
    padding: 2rem;
    display: flex;
    justify-content: space-between
}

// .home {
//     text-align: left;
// }

// .home {
//     text-align: right;
// }