// @file
// Colors

$black: #030303;
$white: #ffffff;
$gray-1: #EFEFEF;
$gray-2: #F6F6F6;
$gray-3: #CCCCCC;
$gray-4: #999;
$gray-5: #333;

// Brand colors
$dark1: #191919;
$light1: #ecdbba;
$light2: #789395;


// Utility colors
// error
$red: #ff0000;
$red-dark: #660000;

// warning
$yellow: #ffff00;
$yellow-dark: #ffbf00;

// success
$green: #7CFC00;
$green-dark: #008000;